.navbar {
    width: 100%;
    height: 4.5rem;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-grey-8);
    padding-top: 1rem;

    .containerBox {
        width: 90%;
        height: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;

        .leftButtons {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 1rem;

            .homeButton {
                border: none;
                background: none;
                cursor: pointer;
                margin-right: 2rem;

                .logoImg {
                    width: auto;
                    height: clamp(2rem, 4.5vw, 2.5rem);
                }
            }

            .interactionButton {
                font-size: clamp(0.7rem, 2.5vw, 0.875rem);
                color: var(--color-grey-4);
                font-family: var(--font-type-3);
                font-style: normal;
                font-weight: var(--font-weight-4);
                line-height: normal;
                text-align: center;
                letter-spacing: 0.05rem;
                height: 100%;

                &:hover {
                    text-decoration: underline;
                    color: var(--color-grey-3);
                }
            }
        }

        .rightButtons {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 1rem;

            .favoriteButton {
                border: none;
                background: none;
                flex-shrink: 0;
                position: relative;
                bottom: 0;
                left: 0;

                .favIcon {
                    width: 1.6rem;
                    height: 1.6rem;
                    flex-shrink: 0;
                }

                span {
                    position: absolute;
                    top: -0.5rem;
                    right: -0.3rem;
                    width: 1.1rem;
                    height: 1.3rem;
                    flex-shrink: 0;
                    border-radius: 0.4375rem;
                    background: var(--color-brand-1);
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    color: var(--color-white);
                    font-family: var(--font-type-2);
                    font-size: clamp(0.4rem, 2.5vw, 0.775rem);
                    font-style: normal;
                    font-weight: 700;
                    line-height: 0rem;
                }
            }
        }
    }
}