.mainArea {
    width: 100%;
    height: auto;
    padding: 0rem 0rem;
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .mainContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        width: 100%;
        height: auto;
        gap: 2rem;
        margin-bottom: 5rem;

        .headerSection {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: auto;

            .sectionSwiper {
                width: 100%;
                height: 100%;

                .swiperSlide {
                    width: 100%;
                    height: 100%;
                    margin: -7rem 0rem;
                }
            }
        }

        .secondSection {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 90%;
            height: auto;

            .categoriesList {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 0rem;
            }
        }
    }
}